@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}
body{
    background-color: black;
}
.container{
    background: url("clock.png");
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}
.hour,.min,.sec{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: left;
    background-color: white;
    height: 1px;
    rotate: -90deg;
}
.hour{
    width: 50px;
}
.min{
    width: 90px;
}
.sec{
    width: 120px;
}
.time{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    z-index: -1;
}